{%- assign text = site.data.sitetext[site.locale] | default: site.data.sitetext -%}
<!-- Portfolio Modals -->
{%- for project in site.portfolio %}
<div class="portfolio-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="p{{ forloop.index }}-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button class="close-modal" type="button" data-dismiss="modal" aria-label="{{ text.portfolio.closebutton | default: "Close" }}">
        <span class="lr"><span class="rl"></span></span>
      </button>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <h2 class="text-uppercase" id="p{{ forloop.index }}-title">{{ project.title }}</h2>
              <p class="item-intro text-muted">{{ project.subtitle }}</p>
              {%- if project.image %}
              <img class="img-fluid d-block mx-auto" src="{{ project.image | relative_url }}" alt="{{ project.alt | default: project.title }}" loading="lazy">
              {%- endif %}
              <div class="modal-text">{{ project.content }}</div>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                {{ text.portfolio.closebutton | default: "Close Project" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endfor %}
<!-- End Portfolio Modals -->
